* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f3321;
}

.header {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #23794e;
    position: sticky;
    top: 0;
    z-index: 20;

    /* ✅ Sombreamento */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.logo-container{
    display: flex;
    color: #fff;
    align-items: center;
    gap: 20px;
}

.logo-container > p{
    font-size: 1.5em;
}

.header > p {
    color: #fff;
    font-size: 2em;
}

.container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    transition: all 200ms;
}

/* Pseudo element cria o brilho animado */
.card::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0px; /* espessura da borda */
    border-radius: inherit;
    background: linear-gradient(
        90deg,
        #339966,
        #33ccff,
        #339966
    );
    background-size: 300%;
    animation: glowMove 8s linear infinite; /* ⬅ tempo suavizado */
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

/* Animação */
@keyframes glowMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 300% 50%;
    }
}

.card:hover{
    transform: scale(1.02);
}

.card img {
    max-width: 200px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card h3 {
    margin: 5px 0;
    font-size: 18px;
}

.card p {
    margin: 0;
    color: #555;
}

/* Barra de pesquisa */
#searchInput {
    padding: 10px 15px;
    width: 400px;
    outline: none;
    border-radius: 5px;
    border-style: none;
}

#searchInput:focus {
    border-color: #0056b3;
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Botão */
#clearBtn {
    width: 50px;
    height: 40px;
    background-color: #ea3838;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;
}

#clearBtn:hover {
    background-color: #c72f2f;
}

.btns-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#downloadBtn {
    width: 50px;
    height: 40px;
    background-color: #339966;
    color: #fff;
    border-style: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#downloadBtn:hover{
    background-color: #1a5939;
}

#modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  max-width: 90%;   /* deixa ocupar até 90% da largura */
  max-height: 90%;  /* até 90% da altura */
  border-radius: 10px;
  text-align: center;
  position: relative;
  overflow: auto;   /* caso ultrapasse o tamanho */
}

.modal-content img {
  width: 100%;       /* ocupa toda a largura do modal */
  height: auto;      /* mantém proporção */
  max-height: 70vh;  /* imagem pode chegar a 70% da altura da tela */
  margin-bottom: 15px;
  object-fit: contain; /* garante que não distorce */
}

#closeModal {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

@media screen and (max-width: 500px) {
    body {
        margin: 0;
        margin-bottom: 30px;
    }

    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 150px;
        padding: 30px 20px;
    }

    .logo-container{
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .logo-container > p{
        font-size: 1.3em;
    }

    h1 {
        margin: 20px;
    }

    #searchInput {
        width: 100%;
    }

    .btns-container{
        flex-direction: column;
    }
}